.chatroom-member {
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
	background-color: hsla(150, 10%, 90%, .3);
	margin: 2px;
	
}

.chatroom-member.isBot {
	background-color: hsla(150, 80%, 90%, 1);
}

.chatroom-member .header {
	position: relative;
	z-index: 50;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
	display: flex;
	padding: 2px 6px;
	background-color: hsla(200, 80%, 90%, .3);
}
.chatroom-member .content {
	position: relative;
	z-index: 0;
	height: 0px;
	opacity: 0px;
	

	transition: height .3s, opacity .2s;
	background-color: hsla(50, 10%, 90%, .3);
}

.chatroom-member.isInspected .content {
	height: 40px;
	padding: 0px;
}

.chatroom-member .id {
	display: inline-flex;
	font-size: 70%;
	color: rgba(0, 0, 0, .5);
	font-style: italic;
}

.chatroom-member .name {
	flex: 1;
	display: inline-flex;
}

/* https://codepen.io/kdydesign/pen/VrQZqx */
.slide-enter-active {
 
   transition-duration: 1.6s;
   /*transition-timing-function: ease-in;*/
}

.slide-leave-active {
 
   transition-duration: 1.6s;
   /*transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
}

.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}
