.language-view {
	height: 100%;
}

.objview-row {
	padding: 2px;
	margin: 2px;
	border: 1px solid hsla(0, 0%, 0%, .5);
}


.objview-row {
	display: flex;
}

.objview-row-label {
	background-color: hsla(180, 50%, 50%, .5);
}