html {
	font-family: "basic", Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	background: hsl(220, 7%, 70%);
	background-image: url("retina_wood.png");
}


body {
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: code;
	src: url(font/CutiveMono-Regular.ttf);
}

@font-face {
	font-family: basic;
	src: url(font/OpenSans-CondLight.ttf);
}

.header {
	background: hsla(38, 80%, 98%, .7);
	display: flex;
	flex-direction: row;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#main-header {
	background: hsla(38, 80%, 98%, .7);
	height: 30px;
}
#main-footer {
	background: hsla(38, 80%, 98%, .7);
	height: 30px;
}
.app {
	display: flex;
	flex: 1;
	height: 0px;

}

.main-section {
	
	position: relative;

	flex-direction: column;
	display: flex;
	  
    flex-basis: 0;
	margin: 10px;
	
	flex: 1;

	background: hsla(308, 80%, 80%, .7);
}

.ghost {

	opacity: 0.2;
}
.footer {
	padding: 4px;
}



.panel {
	flex: 1;
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
}

.panel>.content {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 10;
	flex: 1;
	background-color: hsla(20, 50%, 97%, 1);
	padding:  2px 5px;
	overflow: scroll;
}

.panel>.header {
	position: relative;
	z-index: 20;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
	display: flex;
	background-color: hsla(320, 50%, 90%, 1);

}

.header>.header-main {
	flex: 1;
}

.header>.header-controls {
	padding: 2px 4px;
	background-color: hsla(320, 50%, 50%, 1);
}

