.tracery-section {
	display: inline-block;
	padding: 4px;
	background: hsla(220, 50%, 80%, .2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
}


.tracery-detail {
	font-style: italic;
	font-size: 70%;
	padding: 2px 4px;
	color: hsla(220, 50%, 20%, .8);
} 

.tracery-section-plaintext {
	font-family: monospace;
} 
.tracery-syntaxtype-plaintext {
	display: none;
} 
.tracery-syntaxtype-tag {
	color: hsla(120, 90%, 50%, 1);
} 
.tracery-syntaxtype-action {
	color: hsla(220, 90%, 50%, 1);
} 
.tracery-syntaxtype-rule {
	color: hsla(180, 90%, 70%, 1);
} 

.tracery-syntaxtype-pop {
	color: hsla(320, 90%, 50%, 1);
} 
.tracery-syntaxtype-push {
	color: hsla(320, 90%, 50%, 1);
} 
.tracery-subsection {
	display: inline-block;
	padding: 4px;
	
	
}
.tracery-content {
	background: hsla(220, 50%, 80%, .2);
	min-height: 30px;
	min-width: 30px;
}

.tracery-subsection .tracery-subheader {
	font-style: italic;
	font-size: 50%;
	color: hsla(220, 50%, 20%, .5);

}

